
# models/
models/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/

# Outputs & uploads
outputs/
uploads/

# Frontend
frontend/node_modules/
frontend/.vite/
frontend/.vite-temp/
frontend/dist/
frontend/@*/
frontend/*/
!frontend/src/
!frontend/public/
!frontend/*.js
!frontend/*.ts
!frontend/*.json
!frontend/*.html
!frontend/.gitignore
!frontend/README.md

# Temp
*.tmp
*.log
